<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" >
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li {% if app.request.get('_route') == 'admin' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a  class="nav-link" href="{{ url('admin') }}">
            <i class="fas fa-fw fa-table"></i>
            <span>Gestion commande</span></a>
    </li>


    <!-- Nav Item - Dashboard -->
    <li {% if app.request.get('_route') == 'admin_fournisseur' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ url('admin_fournisseur') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Fournisseurs</span></a>
    </li>


    <!-- Nav Item - Dashboard -->
    <li {% if app.request.get('_route') == 'admin_produit' %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
        <a class="nav-link" href="{{ url('admin_produit') }}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Produits</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>